<div class="bg">
  <app-header [showLogin]="true" [clickableLinks]="false"></app-header>
  <div class="custom-form">
    <div class="form-group" *ngIf="multiFactor && !singleFactorAvailable">
      <app-multi-credentials [errorMsg]="errorMsg" [credentialOptions]='otpOptions' (selectedCredential)="selectedCredential($event)"></app-multi-credentials>
    </div>

    <div class="custom-form" *ngIf="singleFactorAvailable">
      <div class="waitmsg">
        <span>Please wait . . .</span>
      </div>
    </div>

    <div class="form-group" *ngIf="verifyOtp">
      <form [formGroup]="verifyOtpForm" novalidate class="custom-form">
        <img src="./assets/logo.png">
        <app-userinfo></app-userinfo>
        <p class="o-form-explain"> Verify security code sent to {{selectedCredValue}}</p>
        <div class="alert-red validation-message" *ngIf="errorDiv">
          {{errorMsg}}
        </div>
        <input type="text" formControlName="otp" placeholder="Security Code" class="form-control">
        <div *ngIf="verifyOtpForm.controls['otp'].invalid && (verifyOtpForm.controls['otp'].dirty || verifyOtpForm.controls['otp'].touched)" class="alert alert-danger move-up">
          <div *ngIf="verifyOtpForm.controls['otp'].errors.required" class="alert-red">
            Security code is required.
          </div>
        </div>
        <div class="resendOTPContainer" *ngIf="existingCredential">
          <span class="resendOTP" (mousedown)="onResendOTP()">Resend security code</span>
        </div>
        <div class="loader-container">
          <div class="loader" *ngIf="otpSending">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <span class="resendOTPMessage" *ngIf="resendOTPMessage">{{resendOTPMessage}}</span>
        </div>
        <app-remember-device></app-remember-device>
        <div id="outer">
          <div class="inner"> <button class="button primary" (click)="onVerify()" [disabled]="verifyOtpForm.pristine || verifyOtpForm.invalid">Verify</button></div>
          <div class="inner"> <button class="button secondary" (mousedown)="factorSelect()" *ngIf="factorSelection">Back</button></div>
        </div>
      </form>
    </div>

    <div *ngIf="registerOtp">
      <form [formGroup]="registerOtpForm" novalidate class="custom-form">
        <img src="./assets/logo.png">
        <app-userinfo></app-userinfo>
        <p class="o-form-explain">Register OTP</p>
        <div class="alert-red validation-message" *ngIf="errorDiv">
          {{ errorMsg }}
        </div>
        <div *ngIf="smsOption">
          <input type="text" formControlName="countryCode" placeholder="cc" class="form-control code-control">
          <input type="text" formControlName="phoneNumber" placeholder="Phone Number" class="form-control number-control">
          <div *ngIf="registerOtpForm.controls['phoneNumber'].invalid && (registerOtpForm.controls['phoneNumber'].dirty || registerOtpForm.controls['phoneNumber'].touched)" class="alert alert-danger move-up">
            <div *ngIf="registerOtpForm.controls['phoneNumber'].errors.required" class="alert-red">
              Phone Number is required.
            </div>
          </div>
          <div *ngIf="registerOtpForm.controls['countryCode'].invalid && (registerOtpForm.controls['countryCode'].dirty || registerOtpForm.controls['countryCode'].touched)" class="alert alert-danger move-up">
            <div *ngIf="registerOtpForm.controls['countryCode'].errors.required" class="alert-red">
              Country Code is required.
            </div>
          </div>
        </div>
        <div id="outer">
          <div class="inner"> <button class="button primary disabled" (click)="onRegister()" [disabled]="registerOtpForm.invalid">Register OTP</button></div>
          <div class="inner"> <button class="button secondary" (mousedown)="factorSelect()" *ngIf="factorSelection">Back</button></div>
        </div>
      </form>
    </div>
  </div>
</div>
