<div class="bg">
  <app-header [showLogin]="true" [clickableLinks]="false"></app-header>
  <div class="custom-form">
    <div class="form-group">
      <form class="custom-form">
        <img src="./assets/logo.png">
        <app-userinfo></app-userinfo>
        <div class="alert-red" *ngIf="errorDiv">
          {{errorMsg}}
        </div>
        <p class="o-form-explain"> Sign in with:</p>
        <div class="channelSelection" *ngFor="let factorName of factorOptions">
          <label class="container">
            <span [innerHTML]="labelMap[factorName] || factorName"></span>
            <input type="radio" name="radiogroup" [attr.data-factor-name]="factorName" (change)="onFactorOptionsChange(factorName)">
            <span class="checkmark"></span>
            <label class="container"></label>
          </label>
        </div>
        <div id="outer">
          <div class="inner"><button class="button primary" (click)="onSelect()" [disabled]="!factorName">Select</button></div>
        </div>
      </form>
    </div>
  </div>
</div>
