<form class="custom-form">
  <img src="./assets/logo.png">
  <app-userinfo></app-userinfo>
  <div class="alert-red" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <p class="o-form-explain"> Confirm Your Identity</p>
  <div class="o-form-explain-1">Select a way to sign in</div>
  <div class="channelSelection" *ngFor="let cred of credentialOptions">
    <label class="container">{{cred.credValue}}
      <input type="radio" class="js-radio-multi-cred" name="radiogroup" [checked]="cred.default" (change)="onSelect(cred)">
      <span class="checkmark"></span>
    </label>
  </div>
  <div id="outer">
    <div class="inner"> <button class="button primary" [disabled]="!credential || clicked" (click)="onSendCode()">{{buttonLabel?buttonLabel:'Send Code'}}</button></div>
    <div class="inner"> <button class="button secondary" (mousedown)="factorSelect()" *ngIf="factorSelection">Back</button></div>
  </div>
</form>
