<div class="header">
  <img src="./assets/logo.png" class="logo" />
  <div class="location">
    <img src="./assets/location.jpg" />
    <span>Locations</span>
  </div>
  <div class="horizontal">
    <span>Main Office: 888-355-6000</span>
    <span>Contact Us</span>
    <span>About Us</span>
    <span>Join Our Team</span>
    <span class="logout" *ngIf="showLogoutAndSettings" (click)="doLogout()"> LogOut</span>
  </div>
</div>
<div class="links">
  <span class="tab-link" [ngClass]="clickableLinks ? 'cursor' : ''" (click)="clickableLinks && onPersonalBanking()">Personal Banking</span>
  <span class="tab-link" [ngClass]="clickableLinks ? 'cursor' : ''" (click)="clickableLinks && forceReauthBiz()">Business Banking</span>
  <span class="tab-link" [ngClass]="clickableLinks ? 'cursor' : ''" (click)="clickableLinks && forceReauthCommercial()">Commercial Loans</span>
  <span class="tab-link" [ngClass]="clickableLinks ? 'cursor' : ''" (click)="clickableLinks && forceReauthWealth()">Wealth Management</span>
  <span class="tab-link" [ngClass]="clickableLinks ? 'cursor' : ''" (click)="clickableLinks && onSelfService()">Self Service</span>
  <span class="tab-link cursor js-login-link login-header-link" *ngIf="showLogin" (click)="enableLogin()">Login</span>
  <span class="tab-link cursor" *ngIf="showLogoutAndSettings" (click)="openModal('modal-settings')">
    <fa-icon class="topright" alt="settings" [icon]="faCog"></fa-icon>
    <label>Settings</label>
  </span>
  <div class="custom-form">
    <jw-modal id="modal-settings">
      <div class="alert-red" *ngIf="errorDiv1">
        {{errorMsg1}}
      </div>
      <p class="settings-container">
        <label class="label-control">
          Instructions:
          <ol type="1" class="label-control">
            <li> Ensure that the base serviceUrl host is up and running, before proceeding.</li>
          </ol>
        </label><br>
        <label class="colorblue alignsize">Client Id: </label>
        <input type="text" [(ngModel)]="clientId" class="input inputBoxSize" />
        <br>
        <label class="colorblue alignsize">Client Secret: </label>
        <input type="password" [(ngModel)]="clientSecret" class="input inputBoxSize" />
        <br>
        <label class="colorblue alignsize">Base Service url </label>
        <input type="text" [(ngModel)]="serviceUrl" class="input inputBoxSize" />
        <br>
        <br>
        <label class="colorblue alignsize">Client transaction id </label>
        <input type="text" [(ngModel)]="clientTransactionId" class="input inputBoxSize" />
        <br>
        <button class="button primary nowrap" (click)="openModal('modal-it')"> ID Token</button>
        <button class="button primary nowrap" (click)="openModal('modal-cat')"> Client Access Token</button>
        <button class="button primary nowrap" (click)="openModal('modal-uat')"> User Access Token</button>
      </p>
      <div class="btn-container">
        <button class="button primary" (click)="closeModalSave('modal-settings');">Generate</button>
        <button class="button secondary" (click)="closeModalCancel('modal-settings');">cancel</button>
      </div>
    </jw-modal>
    <jw-modal id="modal-it">
      <div id="container">
        {{ idToken }}
      </div>
      <button class="button primary cancel-btn" (click)="closeModalCancel('modal-it')">Cancel</button>
    </jw-modal>
    <jw-modal id="modal-cat">
      <div id="container">
        {{ clientAccessToken }}
      </div>
      <button class="button primary cancel-btn" (click)="closeModalCancel('modal-cat')">Cancel</button>
    </jw-modal>
    <jw-modal id="modal-uat">
      <div id="container">
        {{ userAccessToken}}
      </div>
      <button class="button primary cancel-btn" (click)="closeModalCancel('modal-uat')">Cancel</button>
    </jw-modal>

  </div>
</div>
