.errorDiv {
  position: relative;
  text-align: center;
  font-size: 20px;
}

.errorDiv > p {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 50px;
}

.form-control {
  width: 220px;
  margin-top: 20px;
}

.push-buuton {
  width: 150px;
}
