<div class="bg">
  <app-header [showLogin]="true" [clickableLinks]="false"></app-header>
  <div class="custom-form">
    <div class="form-group" *ngIf="registerPush">
      <form [formGroup]="registerForm" novalidate class="custom-form">
        <div class="form-group">
          <img src="./assets/logo.png"><br>
          <app-userinfo></app-userinfo>
          <label>Use push request to set VIP Access for Mobile as your authenticator.</label>
          <div class="alert-red" *ngIf="errorDiv">
            {{errorMsg}}
          </div>
          <input type="text" formControlName="credentialId" placeholder="Enter Credential ID" class="form-control vip-cred-id">
          <div *ngIf="registerForm.controls['credentialId'].invalid && (registerForm.controls['credentialId'].dirty || registerForm.controls['credentialId'].touched)" class="alert alert-danger move-up">
            <div *ngIf="registerForm.controls['credentialId'].errors.required" class="alert-red">
              Credential Id is required.
            </div>
          </div>
          <label> We will send a push notification to this device. Approve the request to complete registration</label>
          <input type="text" formControlName="deviceName" placeholder="Enter a friendly name" class="form-control">
          <div *ngIf="registerForm.controls['deviceName'].invalid && (registerForm.controls['deviceName'].dirty || registerForm.controls['deviceName'].touched)" class="alert alert-danger move-up">
            <div *ngIf="registerForm.controls['deviceName'].errors.required" class="alert-red">
              Device Name is required.
            </div>
          </div>
          <div id="outer">
            <div class="inner"> <button class="button primary" (click)="registerVipPush()" [disabled]="registerForm.pristine || registerForm.invalid">Register</button></div>
          </div>
        </div>
      </form>
    </div>

    <!-- code changes related to selecting a push device-->
    <div class="form-group" *ngIf="selectPush && !singleFactorAvailable">
      <app-multi-credentials [errorMsg]="errorMsg" [credentialOptions]='pushOptions' buttonLabel='Continue' (selectedCredential)="selectedCredential($event)"></app-multi-credentials>
    </div>
    <div class="waitmsg" *ngIf="singleFactorAvailable">
      <span>Please wait . . .</span>
    </div>
    <div class="form-group" *ngIf="errorDivPush">
      <form class="custom-form">
        <img src="./assets/logo.png">
        <app-userinfo></app-userinfo>
        <div class="alert-red">
          <div class="errorDiv">
            <p> {{errorMsg}}</p>
          </div>
        </div>
      </form>
    </div>
    <div class="form-group" *ngIf="sentPush">
      <form class="custom-form">
        <img src="./assets/logo.png">
        <app-userinfo></app-userinfo>
        <div class="alert-red" *ngIf="errorDiv">
          {{errorMsg}}
        </div>
        <p class="o-form-explain">A Push notification has been sent to {{selectedCredValue}}</p>
        <div id="outer">
          <div class="inner"> <button class="button primary" disabled="true">Push sent</button></div>
        </div>
        <br />
        <br />
        <br />
        <app-remember-device *ngIf="!pushService.manualPushTrigger"></app-remember-device>
      </form>
    </div>
    <div class="form-group" *ngIf="verifyPushSent">
      <form class="custom-form">
        <img src="./assets/logo.png">
        <app-userinfo></app-userinfo>
        <div class="alert-red" *ngIf="errorDiv">
          {{errorMsg}}
        </div>
        <p class="o-form-explain">Send a request to {{selectedCredValue}}</p>
        <div id="outer">
          <div class="inner"> <button class="button primary push-buuton" (click)="onSendRequest()">Send Request</button></div>
        </div>
        <br />
        <br />
        <br />
        <app-remember-device></app-remember-device>
      </form>
    </div>
  </div>
</div>
