<app-header [showLogoutAndSettings]="true" [clickableLinks]="true"></app-header>

<div class="uatFailed spacing" *ngIf="displayService.uatFailed">UserAccessToken Generation Failed</div>

<div class="self-container js-selfservice-wrapper" *ngIf="!isLoading">
  <h3>
    Credentials connected to your account <span *ngIf="displayService.loginName">({{(""+displayService.loginName).trim()}})</span>
  </h3>
  <div class="refresh-wrapper">
    <button class="action-bar-btn" (click)="getCreds()">
      <img class="action-bar-btn-icon" src="assets/refresh.png" alt="Refresh">
      <span class="action-bar-btn-text">Refresh</span>
    </button>
  </div>
  <div class="delete-all" *ngIf="credentialsList.length">
    <button class="action-bar-btn" (click)="handleDeleteAll()">
      <img class="action-bar-btn-icon" src="assets/delete.png" alt="Delete All">
      <span class="action-bar-btn-text">Delete All</span>
    </button>
  </div>
  <div class="table-container" *ngIf="credentialsList.length">
    <table>
      <tr>
        <th class="text-center first-col">Primary</th>
        <th>Type</th>
        <th>Details</th>
        <th>Status</th>
        <th class="text-center">
          Operations
        </th>
      </tr>
      <tr *ngFor="let item of credentialsList; let i = index" [ngClass]="{'cred-row':true,'last-cred-row':i===credentialsList.length-1}" [attr.data-cred-id]="item.credId">
        <td class="text-center">
          <input (change)="onDefaultChange(item, $event.target.checked)" [checked]="item.default" type="radio" name="defaultCred">
        </td>
        <td>
          {{(credTypeMap[item?.credType]||{}).name || item?.credType}}
        </td>
        <td>
          {{item?.credValue}}
          <br />
          <span class="addedTS">Added {{getCustomDateFormat(item?.createdDatetime || item?.modifiedDatetime)}}</span>
        </td>
        <td>
          <select *ngIf="statusMap[item.status]" [ngModel]="item.status" (change)="onStatusChange(item, $event.target.value)">
            <option *ngFor="let status of statuses" [value]="status.value">{{status.label}}</option>
          </select>
          <span class="statusText" *ngIf="!statusMap[item.status]">{{(''+item.status).toLowerCase()}}</span>
          <div *ngIf="item?.status === 'INITIAL' && ((''+item.credType).toLowerCase()==='sms' || (''+item.credType).toLowerCase()==='email')" class="verify-otp">
            <input #otpEle type="text" class="js-verifyCredOTPInput" (input)="handleOTPInput($event, verifyOTPBtn, credOTPError)" (keydown.enter)="verifyOTP(item, otpEle.value, credOTPError)">
            <button #verifyOTPBtn class="verifyOTPBtn" disabled (click)="verifyOTP(item, otpEle.value, credOTPError)">Verify OTP</button>
            <span #credOTPError class='credOTPError'></span>
          </div>
        </td>
        <td class="text-center"> <button class="credDeleteBtn" (click)="handleDeleteCred(item)"><img src="assets/delete.png" alt="Delete"></button></td>
      </tr>
    </table>
  </div>
  <p *ngIf="!credentialsList.length" class="empty-text">
    No credentials connected to your account.
  </p>
  <h3>
    Register New Credential
  </h3>
  <div class="register-container">
    <p>
      Credential Type
    </p>
    <div class="select-credtype">
      <div class="radio-container">
        <label>
          <input (change)="credTypeChange()" (click)="focusRegInputField()" [(ngModel)]="selectedCredType" type="radio" name="credType" value="email">
          <h4>Email</h4>
        </label>
      </div>
      <div class="radio-container">
        <label>
          <input (change)="credTypeChange()" (click)="focusRegInputField()" [(ngModel)]="selectedCredType" type="radio" name="credType" value="sms">
          <h4>SMS</h4>
        </label>
      </div>
      <div class="radio-container">
        <label>
          <input (change)="credTypeChange()" (click)="focusRegInputField()" [(ngModel)]="selectedCredType" type="radio" name="credType" value="fido">
          <h4>Biometric</h4>
        </label>
      </div>
      <div class="radio-container">
        <label>
          <input (change)="credTypeChange()" (click)="focusRegInputField()" [(ngModel)]="selectedCredType" type="radio" name="credType" value="securitykey">
          <h4>Security key</h4>
        </label>
      </div>
    </div>
    <p>Enter {{credTypeMap[selectedCredType].label}}</p>
    <div class="input-container">
      <input class="regInputField" [formControl]="credValueControl" type="text" (keydown.enter)="onRegister()" (input)="onCredInput($event)">
      <button class="regBtn" [disabled]="credValueControl.invalid || regBtnClicked" (click)="onRegister()">Register</button>
      <p class="error-msg" *ngIf="(selectedCredType === 'sms'||selectedCredType === 'email') && credValueControl.dirty && credValueControl.invalid && credValueControl.value">
        Please enter valid {{ selectedCredType === 'email' ? 'email' : 'phone number'}}
      </p>
    </div>
  </div>
  <p *ngIf="errorMessage" class="error-msg">
    {{errorMessage}}
  </p>
</div>
