.custom-form form {
  top: 22%;
}

.form-control {
  width: 220px;
}

.oauth-link {
  position: relative;
}

.oauth-link.space-above {
  margin-top: 25px;
}

.oauth-link span {
  color: blue;
  cursor: pointer;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 25px;
}

.vip-container {
  margin-top: 20px;
}
