<app-header [showLogoutAndSettings]="true" [clickableLinks]="true"></app-header>

<div>
  <div class="leftHome">
    <h3>Accounts</h3>
    <div class="uatFailed" *ngIf="displayService.uatFailed">UserAccessToken Generation Failed</div>
    <div id="welcome">
      <h1>Hello, {{userName}}</h1>
    </div>
    <div id="profileLinks">
      <span>Update Profile</span>
      <hr class="verticalLine">
      <span>Security Center</span>
    </div>
    <div id="personalAccounts">
      <h2>Personal Accounts</h2>
      <hr>
      <a href="#">Interest Checking - 3577</a>
      <span>$3,255.74</span>
      <p>Quick View</p>
      <hr>
      <a href="#">Money Market Savings - 0355</a>
      <span>$2,789.32</span>
      <p>Quick View</p>
      <hr>
    </div>
    <div class="main">
      <h2>Investment Accounts</h2>
      <button class="button primary details-btn" (click)="stepUp()" *ngIf="!displayInvestments">Details</button>
    </div>
    <div id="investmentAccounts" *ngIf="displayInvestments">
      <hr>
      <a href="#">Mutual Funds</a>
      <span>$0.00</span>
      <p>Quick View</p>
      <hr>
      <a href="#">Edge Self-Directed Account</a>
      <span>$12,789.32</span>
      <p>Quick View</p>
      <hr>
    </div>
  </div>
  <div class="rightHome">
    <div class="rightHomeUpper">
      <div class="eBillsDiv">
        <div class="eBills">
          <h2>eBills</h2>
        </div>
        <p>You have no upcoming reminder or eBills due.</p>
      </div>
    </div>
  </div>
</div>
<jw-modal id="modal-1">
  <div id="container">
    {{idToken}}
  </div>
  <button class="btn1" (click)="closeModalCancel('modal-1')">Cancel</button>
</jw-modal>
<jw-modal id="modal-2">
  <div id="container">
    {{userAccessToken}}
  </div>
  <button class="btn1" (click)="closeModalCancel('modal-2')">Cancel</button>
</jw-modal>
