<app-header [showLogoutAndSettings]="true" [clickableLinks]="true"></app-header>
<div>
  <div class="leftHome">
    <div class="alert-red">
      <h3>{{reauthMessage}}</h3>
    </div>
    <h2>Business Banking Details</h2>
    <div id="welcome">
      <h1>Hello, {{userName}}</h1>
    </div>
    <div id="profileLinks">
      <span>Update Profile</span>
      <hr class="verticalLine">
      <span>Security Center</span>
    </div>
    <div id="personalAccounts">
      <h2>Business Banking</h2>
      <hr>
      <a href="#">Investment - 3577</a>
      <span>$3,255.74</span>
      <p>Quick View</p>
      <hr>
    </div>
  </div>
</div>
